title.en=Name of page
title.de=Name der Seite
title.fi=Sivun nimi
title.es=Nombre de la página
title.ar=اسم الصفحة
title.ru=название страницы
title.jp=ページの名前

header.en=Header
header.de=Überschrift
header.fi=Otsikko
header.es=Encabezamiento
header.ar=رأس
header.ru=заголовок
header.jp=ヘッダ